:root {
  /* Spacing */
  --space-xs: 1rem;
  --space-s: 2rem;
  --space-md: 4rem;
  --space-lg: 6rem;
  --space-xl: 8rem;

  /* Radius */
  --small: 4px;
  --medium: 8px;
  --large: 12px;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--colors-system-dark);
  background: var(--colors-system-light);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  padding: var(--space-xs);
  border-radius: var(--medium);
  border: 0;
}

.primary-link {
  background-color: var(--colors-brand-primary-background);
  color: var(--colors-brand-primary-foreground);
  inline-size: fit-content;
}

.primary-link:hover {
  background-color: var(--colors-brand-accent-background);
  color: var(--colors-brand-accent-foreground);
}

.primary-reverse-link {
  background-color: var(--colors-brand-primary-reverse-background);
  color: var(--colors-brand-primary-reverse-foreground);
  inline-size: fit-content;
  border: 2px solid var(--colors-brand-primary-reverse-foreground);
}

.primary-reverse-link:hover {
  background-color: var(--colors-brand-primary-background);
  color: var(--colors-brand-primary-foreground);
}
